$connect4Blue: rgb(0, 85, 204);
$darkBlue: darken($connect4Blue, 10%);

body {
  background: radial-gradient(circle, rgba(0, 85, 204, .9), $connect4Blue 70%);
}
.main {
  padding-top: 20px;

  .title {
    text-align: center;
    margin: 0 0 10px;
    font-size: 28px;
    color: white;
  }
  .title-line {
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background: radial-gradient(circle, white, transparent);
  }

  .board {
    position: relative;
    .win-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 600;
      font-size: 22px;
      text-shadow: 1px 1px rgba(0,0,0,.2);
      color: white;
      opacity: 1;
      z-index: 1;
      padding: 10px;
      border-radius: 10px;
      pointer-events: none;
      opacity: .8;
      transition: all .1s ease-out;

      &.hidden {
        opacity: 0;
      }
    }
    table.content {
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      border-spacing: 0;

      &.inactive {
        opacity: .5;
      }

      .board-row {
        $cellSize: 35px;
        width: 100%;
        height: $cellSize;

        .board-cell {
          width: $cellSize;
          height: $cellSize;
          outline: none;
          position: relative;

          &.black, &.red {
            .filled-circle {
              opacity: 1;
              transform: none;
            }
          }
          &.black .filled-circle {
            background: radial-gradient(circle, black, rgba(0,0,0,.4));
          }
          &.red .filled-circle {
            background: radial-gradient(circle, red, rgba(255,0,0,.4));
          }
          .circle {
            $circleSize: 30px;
            width: $circleSize;
            height: $circleSize;
            border-radius: 100%;
            border: 2px solid black;
          }
          .filled-circle {
            position: absolute;
            top: 0;
            opacity: 0;
            transform: translate(0, -100%);
            transition: all .2s ease-out;
            pointer-events: none;
          }
        }
      }
    }
  }

  .controls {
    text-align: center;

    button.new-game {
      margin: 20px auto 0;
      border-radius: 5px;
      background: white;
      outline: none;
      border-color: $darkBlue;
      box-shadow: 1px 1px 1px rgba($darkBlue, .5);
    }

    .board-size {
      margin: 20px 0;
      .rows, .cols {
        display: inline-block;
        margin: 0 10px;
        label {
          color: white;
        }
        input {
          width: 40px;
          border-radius: 5px;
          padding-left: 8px;
          outline: none;
          border: 2px solid $darkBlue;
        }
      }
    }
  }

  .active-player {
    margin: 10px;
    text-align: center;
    color: white;
    span {
      text-shadow: 1px 1px $darkBlue;
    }
    .player-color {
      padding: 0 10px;
      border-radius: 5px;
      margin: 0 10px;
      &.black {
        background: black;
      }
      &.red {
        background: red;
      }
    }
  }
}
